<h1>Welcome, {{session.username}}</h1>

<section class="flex-container">
  <div class="card">
    <a href="./restaurant.handlebars">Browse restaurants</a>
  </div>
  <div class="card">
    {{!-- <a href="/leavereview">Leave a review</a> --}}
  </div>
  <div class="card">
    <a href=""></a>
  </div>
</section>
<div>
  <div class="card">
    <a href="/api/restaurants">Browse restaurants</a>
  </div>
</div>