<h1>Welcome, {{username}}</h1>

<section class="flex-container">
  <div class="card">
    <a href="./restaurant.handlebars">Browse restaurants</a>
  </div>
  <div class="card">
    <a href="./leaveReview.handlebars">Leave a review</a>
  </div>
  <div class="card">
    <a href=""></a>
  </div>
</section>