<h1>My Dashboard</h1>

<section class="flex-container">
  <div class="card">
    <a href="">Browse restaurants</a>
  </div>
  <div class="card">
    <a href="./leaveReview.handlebars">Leave a review</a>
  </div>
  <div class="card">
    <a href=""></a>
  </div>
</section>