<section class="app-title">
    <h1>Baby Yelp</h1>
</section>

<section class="flex-container">
    <div class="card">
        <h3>Browse Restaurants</h3>
    </div>
    <div class="card">
        <h3>Browse Reviews</h3>
    </div>
</section>  