<section>
   <div class="card">
        <h1>{{restaurant_name}}</h1>
      </div>
      <div class="card">{{description}}</div>
</section>
<br>
<section>
  {{#each reviews as |review| }}
  <div id="reviewHeaders">
    {{review.title}}
  </div>
  <div id="reviewtext">
    {{review.text}}
  </div>
  {{/each}}
</section>
<br>


<section>
  <form action="" method="post" class="card">
    <div class="flex">
      <label for="review-title" class="label">Enter a title for your review</label>
      <input
        type="text"
        name="review-title"
        class="input"
        placeholder="Review Title"
      />
    </div>

    <div class="flex">
      <label for="review-text" class="label">Type your review</label>
      <textarea
        type="text"
        name="review-text"
        placeholder="Review text"
        class="input"
        id="long-text-input"
      ></textarea>
    </div>
    <button class="login-btn">Submit Review</button>
  </form>
  <script src="/js/review.js"></script>
</section>
