<section class="column-flex">
  <div class="card">
    <h2>Log in:</h2>
  </div>

  <form class="card login-form" action="" method="post">
    <div class="card">
      <label for="username">Username: </label>
      <input type="text" name="username" class="input width-60" id="username" />
    </div>
    <div class="card">
      <label for="password">Password: </label>
      <input
        type="password"
        name="password"
        class="input width-60"
        id="password"
      />
    </div>
    <button type="submit" class="login-btn">Log In</button>
    <a href="signup" class="login-btn">Sign up</a>
  </form>
</section>

<script src="/js/login.js"></script>