<section id="restaurants">
    <div id="restaurants-container">
           <h2>
                    Restaurants
                </h2>
         
          {{#each restaurants as |restaurant| }}
            <div id="restaurants-header">
                
             
            </div>
           
            <div id="restaurant">
               
                <h3>{{restaurant_name}}</h3>

                <p>
                {{restaurant.description}}
                </p>

            </div>
            <div id="reviewButton" class="flex">
                 <a href="http://localhost:3001/api/restaurants/{{restaurant.id}}">Leave a review for {{restaurant_name}}</a>
                
            </div>
        {{/each}}
        
    </div>
    
</section>

{{!-- <script src="js/restaurantFetch.js" --}}