<div class="column-flex col-md-6">
  <div class="card">
    <h2>Sign up</h2>
  </div>

  <form class="form card signup-form">
    <div class="card form-group">
      <label for="email-signup">Email: </label>
      <input class="input width-60 form-input" type="email" id="email-signup" />
    </div>
    <div class="card form-group">
      <label for="username-signup">username:</label>
      <input
        class="input width-60 form-input"
        type="text"
        id="username-signup"
      />
    </div>
    <div class="card form-group">
      <label for="password-signup">password:</label>
      <input
        class="input width-60 form-input"
        type="password"
        id="password-signup"
      />
    </div>
    <div class="form-group">
      <button class="login-btn btn btn-primary" type="submit">Sign up</button>
    </div>
  </form>
</div>

<script src="/js/signup.js"></script>