body {
  background-color: rgb(243, 171, 113);
  color: whitesmoke;
}

h1 {
  font-size: 20px;
  border: 2px, solid, whitesmoke;
  border-radius: 5px;
}

.app-title {
  display: flex;
  justify-content: center;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.card {
  flex: 1;
}
